{{#if categories.length}}
<div class="row">
    {{#each categories}}
    <div class="col-lg-3">
        <div class="card">
            <img src="/images/{{categoryIcon}}" alt="{{categoryIcon}}">
            <div class="card-body">
                <div style="display: flex;"><a href="/admin/category/read/{{id}}" class="card-title">{{categoryName}}</a></div>
                <div class="d-flex">
                    <a href="/admin/category/delete/{{id}}" class="btn btn-danger">O'chirish</a>
                    <a href="/admin/category/edit/{{id}}" class="btn btn-warning">O'zgartirish</a>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<h1>Kategoriyalar yo'q</h1>
{{/if}}