{{#if products.length}}
  <div class="row">
    {{#each products}}
      <div class="col-lg-3">
        <div class="card">
          <img src="/images/{{img}}" alt="{{img}}" />
          <div class="card-body">
            <a href="/admin/product/read/{{id}}" class="card-title">Техника тури : {{name}}</a>
            <p>
              <br />
              Инв. № : {{nmb}}
              <br />
              Техниканинг маркаси : {{marks}}
              <br />
              Чикарил. йил : {{year}}
              <br />
              Давлат раками № : {{number}}
              <br />
            </p>

            <div class="d-flex">
              <a
                href="/admin/product/delete/{{id}}"
                class="btn btn-danger"
              >O'chirish</a>
              <a
                href="/admin/product/edit/{{id}}"
                class="btn btn-warning"
              >O'zgartirish</a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <h1>Kategoriyalar yo'q</h1>
{{/if}}